<div class="header">
  <div class="logo-container">
    <img src="./../../assets/logo.png" alt="Annavaran Logo" class="logo">
  </div>
  <h1>Annavaran</h1>
</div>


<div class="category-options">
  <div class="category-container" (mouseenter)="showOptions = true" (mouseleave)="showOptions = false">
    <span class="category-name">Women</span>
    <div class="category-dropdown" *ngIf="showOptions">
      <a (click)="onCategoryClick('kurta')" class="category-option">Kurta</a>
      <a (click)="onCategoryClick('jumpsuit')" class="category-option">Jumpsuit</a>
      <a (click)="onCategoryClick('saree')" class="category-option">Saree</a>
    </div>
  </div>
</div>



<div class="product-page" style="padding: 20px; margin: 0 20px;">
  <input
    type="text"
    [(ngModel)]="searchInput"
    (input)="onSearch()"
    placeholder="Search for products"
    class="form-control"
  />
  <div class="pagination-options">
    <label class="itemPerPageMargin" for="itemsPerPage">Items per page:</label>
    <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (ngModelChange)="onItemsPerPageChange($event)">
      <option value="12">12</option>
      <option value="20">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>
  <div *ngIf="filteredProducts.length > 0; else noResults">
    <div *ngFor="let product of filteredProducts" class="product-item">
      <div class="product-image-container">
        <div class="product-images">
          <a (click)="showImages(product.id)">
            <img *ngFor="let imageUrl of product.mainImageUrl" [src]="imageUrl" alt="{{ product.name }}" class="product-image" />
          </a>
        </div>
      </div>
      <h2 class="product-name" (click)="showImages(product.id)">{{ product.name }}</h2>
      <p class="product-description">{{ product.description }}</p>
        <div class="sizes">
          Sizes:
          <span *ngFor="let size of product.sizes" class="size-circle">{{ size }}</span>
        </div>
      <p class="product-price">Price: {{ product.price | currency }}</p>
    </div>
  </div>
  
  <ng-template #noResults>
    <p>No products found.</p>
  </ng-template>
  <div class="pagination">
    <button class="btn btn-primary itemPerPageMargin" [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">Previous</button>
    <span class="itemPerPageMargin">Page {{ currentPage }}</span>
    <button class="btn btn-primary itemPerPageMargin" [disabled]="filteredProducts.length < itemsPerPage" (click)="onPageChange(currentPage + 1)">Next</button>
  </div>

  <div *ngIf="isPopupOpen" class="image-popup-overlay">
  <app-image-popup [selectedProduct]="selectedProduct" (closePopup)="closePopup()"></app-image-popup>
</div>
</div>
